default:
    autoload:
        '': %paths.base%/features/bootstrap

    extensions:
        Behat\MinkExtension:
            base_url: http://example.work/app_dev.php
            browser_name: chrome
            goutte: ~
            selenium2: ~
