.Header
{
    background-color: #778193;
}

#PageHeader1
{
    position        :fixed;
    text-align      :left;
    left            :0px;
    top             :0px;
    width           :100%;
    height          :65px;
    z-index         :11;
}

#PageControll

{
    position        :fixed;
    text-align      :left;
    left            :0px;
    top             :65px;
    width           :100%;
    height          :60px;
    z-index         :11;
    background-color: #778193;
}

#BtnClient
{
    position:absolute;
    left:22px;
    top:23px;
    width:150px;
    height:25px;
    z-index:0;
}

#BtnCategories
{
    position        :absolute;
    left            :334px;
    top             :23px;
    width           :100px;
    height          :25px;
    z-index         :1;
}

#BtnLangs
{
    position        :absolute;
    left            :450px;
    top             :23px;
    width           :100px;
    height          :25px;
    z-index         :2;
}

#BtnContactType
{
    position        :absolute;
    left            :562px;
    top             :23px;
    width           :100px;
    height          :25px;
    z-index         :3;
}

 body
{
    background-color: #b7bebe;
}

#PageContent1
{
    position        :absolute;
    top             :127px;
    left            :0px;
    width           :100%;
    height          :76.99%;
    z-index         :2;
}

#PageContent2
{
    position        :fixed;
    top             :91%;
    left            :0px;
    width           :100%;
    height          :100%;
    background-color: #778193;

}


#client_form
{
    position        :relative;
    top             :1px;
    left            :1px;
    width           :50%;
    height          :0%;
    background-color: #3a9d49;
}



#client_form_created_at, #client_form_birthday
{
    position        :relative;
    top             :-18px ;
    left            :115px;
}

#client_form_created_at_day, #client_form_birthday_day,
#client_form_created_at_month, #client_form_birthday_month
{
    width: 25px;
}

#client_form_created_at_year, #client_form_birthday_year

{
    width: 40px;
}

#client_form_firstname, #client_form_surname,
#client_form_language, #client_form_contacts,
#client_form_newtypecontact, #client_form_newmeancontact,
#client_form_categories, #client_form_description,

#lang_form_name, #contact_type_form_name,

#category_form_name,
#categories_form_categories

{
    position        :absolute;
    left            :115px;
    width           :300px;
}

#client_form_addcontact
{
    position        :relative;
    left            :115px;
    height          :25px;
    width           :150px;
}

#categories_form_go
{
    position        :relative;
    top             : -20px;
    left            :425px;
    height          :25px;
    width           :150px;
}

#client_form_contacts, #client_form_categories,
#client_form_description
{
    height          :100px ;
}


#client_form_Save, #lang_form_Save,
#contact_type_form_Save,
#category_form_Save, .btnadd
{
    position        : fixed;
    top             : 93%;
    left            : 10px;
    height          : 25px;
    width           : 150px;
    z-index         : 3;
}

#client_form_delete, #lang_form_delete,
#contact_type_form_delete, #category_form_delete
{
    position        : fixed;
    top             : 93%;
    left            : 215px;
    height          : 25px;
    width           : 150px;
    z-index         : 3;
}
