body
{
  /*  background-color: #b7bebe;*/
}

header
{
    position        : fixed;
    top             : 0;
    left            : 0;
    height          :70px;
    width           :100%;
    float: left;
}

.content
{
    position        : fixed;
    top             : 71px;
    bottom          : 51px;
    left            : 0;
    width           : 100%;
    overflow        : auto;
}

h2 {
    margin: 5px;
}

.clientName {
    width: 100%;
    height: 30px;
    border: 1px solid #e38d13;
    background-color: #5c7a9d;
    margin: 5px;
    padding: 5px;
}

.clientName a {
    text-decoration : none;
    color           : #d5dcdc;
}

.clientName a:hover {
    color: yellow;
}

footer
{
    position        : fixed;
    bottom          : 0px;
    left            : 0px;
    height          : 50px;
    width           : 100%;
    background-color: #7ba3cb;
}

#PageHeader1{
    /* position        : absolute;
     left            :0;
     top             :0;*/
     width           :inherit;
     height          :inherit;

    background-color: #7ba3cb;
}

#PageControll{
    position        :fixed;
    text-align      :left;
    left            :0;
    top             :70px;
    display         : none;
    padding-left    : 5px;
    height          :0px;
    width           : 100%;
    background-color: #7ba3cb;
    z-index         : 5;
    float           : left;
}

#BtnClient, #BtnCategories, #BtnLangs, #BtnContactType
{
    position        :absolute;
    top             :23px;
    width           :150px;
}

#BtnClient
{
    left:22px;
}
#BtnCategories  { left    :300px;}
#BtnLangs       { left    :500px;}
#BtnContactType { left    :700px;}

#PageContent1
{
    position        :absolute;
    padding         : 5px 5px 5px 10px;
    top             :0px;
    left            :0px;
    bottom          :10%;
    width           : calc(100% - 15px);
    float           : left ;
}

.tags{
    position        :relative;
    width           : 600px;
}

form div {
    margin: 10px 0px 10px 0px;
}
