{% extends 'ClientBundle:Default:default.html.twig' %}

{% block title %}
    Clients
{% endblock %}

{% block content1 %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <h2>Редагування клієнта</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}

{% block content2 %}

{% endblock %}
